@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #212123;
}

.container {
  max-width: 1274px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@import "header";
@import "begin";